<!DOCTYPE html>
<html>				
	<head>
	</head>
	<body>
	  <p>Hey <%=@user.name%>,</p>

	  <p> Welcome to Candeo. To continue login, please click the below button</p>
	  <p style="text-align:center;"><a href="<%=@url%>" style="background: #4193d0;border-color: #4193d0;color: #fff;display:inline-block;text-align:center;padding:10px;">Continue to login</a></p>					  
	</body>
</html>